// It's highly recommended to change the default colors
// to match your app's branding.

$primary : #01D167;
$secondary : #0C365A;
$accent : #325BAF;
$accent-secondary: #23CEFD;

$dark : #222222;

$grey-a: #AAAAAA;
$grey-f: #F5F5F5;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

@import '~quasar-variables-styl'